package file_explorer

templ scripts() {
    <script>
    function showFileInfo(event, fileName) {
        alert(fileName);
    }

    function toggleContextMenu(event, parentNode) {
        if (event) {
            event.preventDefault();
            event.stopPropagation();
        }
        parentNode.querySelector('.context-menu').classList.toggle('hidden');
    }
    </script>
}
