services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - 127.0.0.1:8000:8000
    restart: unless-stopped
  ui:
    build:
      context: ./ui
      dockerfile: Dockerfile
    ports:
      - 127.0.0.1:3000:3000
    volumes:
      - ./ui:/app/src
    restart: unless-stopped
