[Unit]
Description=AutoButler Service
After=network.target

[Service]
ExecStart=/usr/local/bin/autobutler serve
Environment="LLM_AZURE_API_KEY=$LLM_AZURE_API_KEY"
Environment="PORT=8081"
Restart=always
StandardOutput=append:/var/log/autobutler.app
StandardError=append:/var/log/autobutler.err

[Install]
WantedBy=multi-user.target

