name: autobutler.ai - CD
on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      image-tag:
        description: Image tag to run
        type: string
jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Deploy
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.actions.createWorkflowDispatch({
              owner: 'exokomodo',
              repo: 'autobutler.ai',
              workflow_id: 'deploy.yml',
              ref: 'main',
              inputs: {
                ref: context.ref
              }
            });
